* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #252526;
    font-family: "Source Code Pro", Monospace;
    display: flex;
    
}

.ExploreNav {
    background-color: #252526;
    color: white;
    padding: 10px 50px;
    max-width: 200px;
    max-height: 75px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 2px;
}

.ExploreNav span {
    font-weight: 700;
}

.NavBar {
    color: white;
    padding: 10px 50px;
    max-width: 200px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}

.NavBar p {
    width: 100%;
}

.NavBar p:hover {
    cursor: pointer;
    background-color: #003580;
    border: 1px solid #006Aff;
}