* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #252526;
    font-family: "Source Code Pro", Monospace;
    
}

.ExploreNav {
    background-color: #252526;
    color: white;
    padding: 10px 50px;
    max-width: 200px;
    max-height: 75px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 2px;
    grid-column: 1; /* column 1, row 1 (default) */
    grid-row: 1;
}

.ExploreNav span {
    font-weight: 700;
}

.NavBar {
    color: white;
    width: 100%;
    max-height: 100%;
    display: block;
    flex-direction: column;
    font-size: 15px;
    grid-column: 1; /* column 1, row 2 */
    grid-row: 2;
}

.NavBar p {
    padding: 5px;
    border: 1px solid #252526;
}

.NavBar p:hover {
    cursor: pointer;
    background-color: #003580;
    border: 1px solid #006Aff;
}

.container {
    display: grid;
    grid-template-columns: 200px; /* two columns */
    grid-template-rows: auto;
    gap: 0;
}

.TopNavBar {
    background-color: #2d2d2d;
    max-height: 45px;
    color: white;
    grid-column: 2; /* column 2, row 1 */
    grid-row: 1;
}

.TopNavBar p {
    display: inline;
    padding: 80px;
}